.order-div {
  width: 60%;
  position: absolute;
  float: right;
  top: 31.25rem;
  right: 0.625rem;
  border-radius: 0.125rem;
  padding: 2rem 0 2rem 2rem;
  background: #fff;
  line-height: 3;
  border: 1px solid #ddd;
}

.img-tb {
  width: 2rem;
  height: 3.125rem;
}

.t-22 {
  /* display: flex; */
  /* justify-content: space-between; */
  width: 100%
}

.comp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 25px;
  margin: auto 0;
  text-align: center;
  background: #ddd;
  color: green;
  border-radius: 5px;
}

.order-div > .navs {
  font-weight: bold;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.order-btn {
  background: #3b54ec;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  /* width: 4.5rem; */
  height: 3rem;
  text-align: center;
}



/* .o-small-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.o-navs {
  width: 50%;
}

.o-navs > ul {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 10px;
  font-size: 20px;
}

.o-navs > ul > li {
  margin: 0;
  padding: 0 10px 0 0;
  list-style-type: none;
}

.o-small-nav-2 {
  display: flex;
  width: 35%;
  float: right;
  padding: 0 15px;
}

.o-r-nav {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.nav-search {
  box-shadow: none;
  border-radius: 5px;
  height: 40px;
  padding: 5px;
  outline: none;
}

.r-nav-btn {
  outline: none;
  height: 2.5rem;
  border-radius: 5px;
  background: #ddd;
  width: 6rem;
} */
