.nav-div {
  width: 78%;
  /* background: rgb(197, 194, 194); */
  border: none;
  margin: 0;
  float: right;
}

.innder-nav-div {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /* margin: 0 auto; */
}

.nav-icons {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.nav-icons > ul > li {

  list-style-type: none;
  padding: 0 0.938rem;
}

.nav-icons > ul {
  display: flex;
}

.nav-img {
  align-items: center;
  border-radius: 50%;
}
