.overview-div {
  width: 60%;
  position: absolute;
  float: right;
  top: 100px;
  right: 10px;
  border-radius: 2px;
  padding: 32px;
  background: #fff;
  line-height: 2.5;
  border: 1px solid #ddd;
}

.small-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navs {
  width: 50%;
}

.navs > ul {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 10px;
  font-size: 20px;
}

.navs > ul > li {
  margin: 0;
  padding: 0 10px 0 0;
  list-style-type: none;
}

.small-nav-2 {
  display: flex;
  width: 35%;
  float: right;
  padding: 0 15px;
}

.nav-icons > ul {
  display: flex;
  align-items: center;
}

.r-nav {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.nav-search {
  box-shadow: none;
  border-radius: 5px;
  height: 40px;
  padding: 5px;
  outline: none;
}

.r-nav-btn {
  outline: none;
  height: 2.5rem;
  border-radius: 5px;
  background: #ddd;
  width: 6rem;
}

.filter {
  font-size: 18px;
}
