.buyer-div {
  display: block;
  width: 16%;
  height: auto;
  background: #fff;
  position: absolute;
  left: 23.125rem;
  top: 6.25rem;
  padding: 0.625rem;
  border: 1px solid #ddd;
  border-radius: 0.313rem;
}

.buyer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10 auto;
  padding: 0.625rem;
}

.buyer > p > b {
  color: #ddd;
}

.buyer-img {
  height: 6.25rem;
  width: 6.25rem;
}

.sidebar-header {
  width: 90%;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0 auto;
  position: relative;
  top: 0.625rem;
  padding: 0.938rem;
  border-radius: 0.313rem;
  z-index: 100;
}

.sidebar-img-div {
  padding: 0 0 0 0.625rem;
}

.sidebar-img {
  border-radius: 50%;
}

.header-div-2 {
  display: block;
  padding: 0 0.313rem;
}

.header-div-2 > p, b {
  margin: 0;
}

.sidebar-inner-div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 1.25rem;
  font-weight: bold;
  width: 90%;
  margin: 1.25rem auto;
  padding: 1.25rem;
  line-height: 2;
}

.sidebar-inner-div > ul > li {
  list-style-type: circle;
}

.star {
  color: orange;
}

.rating {
  display: flex;;
  align-items: center;
}

.rating > span {
  padding-left: 8px;
  font-size: 18px;
  color: gray;
}

.d {
  color: rgb(219, 219, 119);
}